.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    column-gap: 2rem;
    height: 80vh;
    max-height: 450px;
    background-image: url('../../public/jobs-bonn-warenauszeichnung.webp'); 
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.h2 {
    color: #0057a3;
}

.scrollMenu {
    background-color: #0057a3;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
}

.scrollBTN {
    background-color: #FBD914;
    color: #0057a3;
    border: none;
    outline: none;
    max-width: 300px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 600;
}


.headerHeadline {
    font-size: 2em;
    padding: 0.5rem 5rem 0.5rem 5rem;
    background-color: #0057a3;
    color: white;
    margin: 0;
    border-radius: 5px;
    font-weight: bold;
}

.headerSubheadline {
    font-size: 2em;
    padding: 0.5rem 5rem 0.5rem 5rem;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 5px;
    font-weight: bold;
    margin: 0;
}

.ctaSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}

.ctaBTN {
    background-color: #FBD914;
    color: #0057a3;
    border: none;
    outline: none;
    max-width: 300px;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 600;
}

.ctaBTN:hover {
    background-color: #fce254;
    cursor: pointer;
}

.scrollBTN:hover {
    background-color: #f8e471;
    cursor: pointer;
}

.aboutUsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    margin: 5rem;
}

.aboutUsContent {
    width: 50%;
}

.heimerzheimImage {
    object-fit: cover;
    border-radius: 5px;
    max-width: 90vw;
}

.benefitSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    margin: 5rem 0 2rem 0;
    background-color: #dcedf8;

}

.benefitList {
    list-style: none;
    font-size: 1.7em;
}

.benefitBox {
    border: 1px solid #0057a3;
    border-radius: 5px;
    width: 50rem;
    max-width: 90vw;
    padding: 2rem;
    box-shadow: 1px 1px 5px #0057a3;
}

.checkIcon {
    color: #0057a3;
    font-weight: bold;
}

.highlight {
    background: linear-gradient(90deg, #dcedf8 0%, #fbd81480 60%, #fbd8149c 100%);
    border-radius: 5px;
    width: 60%;
}

.expectionSection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.expectionRow {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.expectionBox {
    background-color: #0057a3;
    border-radius: 5px;
    width: 30rem;
    max-width: 45vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3em;
    text-align: center;
}

.highlightExpections {
    text-align: center;
    font-size: 2em;
    text-decoration: underline #FBD914;
}


.applySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0rem 0 5rem 0;
}

.applyBox {
    border-radius: 5px;
    max-width: 90vw;
    padding: 2rem;
    row-gap: 2rem;
}

.applyList {
    list-style: none;
    font-size: 1.5em;
    border-bottom: 1px solid gray;
}


.applyList li {
   padding-bottom: 1rem;
}

.applyBox p {
   font-size: 1.1em;
}



@media screen and (max-width: 970px) {

    .header {
        height: 40vh;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    .headerSubheadline {
        font-size: 1.3em;
    }

    .headerHeadline {
        font-size: 1.5em;
    }

    .ctaBTN {
        font-size: 1.5em;
    }

    .aboutUsSection {
        flex-direction: column;
    }

    .aboutUsContent {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .headerHeadline {
        text-align: end;
    }

}

@media screen and (max-width: 740px) {
    .headerHeadline {
        padding: 1rem;
        max-width: 90vw;
    }

    .headerSubheadline {
        padding: 1rem;
        text-align: end;
    }

    .aboutUsSection {
        margin: 5rem 2rem 5rem 2rem;
    }

    .benefitList, .applyList {
        font-size: 1.3em;
        padding-inline-start: 10px;
    }

    .benefitBox, .applyBox {
        padding: 1rem;
    }

    .heimerzheimImage {
        object-fit: cover;
        border-radius: 5px;
        max-height: 15rem;
    }

    .expectionBox {
        font-size: 1.1em;
        padding: 0.2rem;
    }

    .expectionSection {
        margin: 2rem;
        text-align: center;
    }
}


@media screen and (max-width: 490px) {

    .header {
        background-position: -100% 1%;
        height: 40vh;
    }

    .headerSubheadline {
        font-size: 1em;
    }

    .headerHeadline {
        font-size: 1.1em;
    }

    .ctaSection {
        margin: 3rem 2rem 3rem 2rem;
    }

    .ctaBTN {
        font-size: 1.2em;
    }

    .highlight {
        width: 100%;
    }

    .benefitList, .applyBox, .applyList {
        font-size: 1.1em;
    }

    .applyBox p {
        font-size: 1em;
    }

    .expectionBox {
        font-size: 1em;
    }

    .highlightExpections {
        font-size: 1.4em;
    }

    .aboutUsSection {
        margin: 3rem 2rem 3rem 2rem;
    }

    .scrollMenu {
        justify-content: center;
        padding-right: 0rem;
    }
}


@media screen and (min-width: 1000px) and (max-height: 610px) {
    .header {
        height: 55vh;
    }
}