.pageWrapper {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleRow {
    display: flex;
    justify-content: center;
}

.articleImage {
    width: 30vw;
    object-fit: cover;
}

.article {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7fafc;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
}

.article:hover {
    cursor: pointer;
    background-color: #ffffff;
}

.articleHeadline {
    color: #0057a3;
}

.textWrapper {
    padding: 2rem;
}


@media screen and (max-width: 1200px){
    .article {
        width: 50vw;
    }

    .articleImage {
        width: 50vw;
    }
}


@media screen and (max-width: 700px){
    .article {
        width: 90vw;
    }

    .articleImage {
        width: 90vw;
    }

    .textWrapper {
        padding: 1rem;
    }

    .pageWrapper {
        padding-top: 2rem;
    }
}