.aboveTheFold {
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    height: 80vh;
    max-height: 450px;
    background-size: cover;
    flex-direction: column;
    background-image: url('../public/sozialkaufhaus-koeln-bonn-team.webp');
}

.scrollCTAButton {
    position: fixed;
    top: 0.75rem;
    right: 1rem;
    background-color: #FBD914;
    outline: none;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    color: #0058A3;
    font-size: 1.1em;
    padding: 0.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    z-index: 4;
}

.scrollCTAButton:hover {
    cursor: pointer;
    background-color: #fce358;
}

.headerContent {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
}

.headerBox {
    margin-left: 5rem;
    margin-bottom: 1rem;
    height: 70vh;
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.headline {
    margin: 0;
    font-size: 4em;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
}

.listHeader {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 1.3em;
    font-weight: 300;

}

.subHeadline {
    font-weight: 400;
    font-style: italic;
    font-size: 1.7em;
    max-width: 25rem;
    color: #0057a3;
    margin-bottom: 0
}

.subheadlineText {
    font-weight: 400;
    font-size: 1.2em;
    max-width: 50rem;
}

.blueCheck {
    color: #0057a3;
}

.markUp {
    font-weight: 400;
    text-decoration: underline;
}

.headerImage {
    border-radius: 15px 0px 0px 15px;
}


.offerButton {
    background-color: #FBD914;
    color: #0057a3;
    border: none;
    outline: none;
    max-width: 400px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 5px;
    margin-top: 2rem;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.arrowRightOfferBTN {
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

.form {
    align-self: flex-end;
    margin-top: 12rem;
    width: 40vw;
    padding: 0.5rem 1rem 1.5rem 1rem;
    background-color: #F5F5F5;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(59, 59, 59);
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.formGroupQM {
    margin-top: 1.5rem
}

.label {
    margin-bottom: 0.5rem;
}

.input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0 0 1px #525252;
    outline: none;
    font-size: 1em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.inputAdressStreet {
    width: 150%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0 0 1px #525252;
    outline: none;
    font-size: 1em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.input:focus,
.dateInput:focus,
.inputAdressStreet,
.inputContact:focus {
    background-color: #0057a30e;
}

.dateInput {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0 0 1px #525252;
    outline: none;
    font-size: 1em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #757575;
}

.adressInputWrapper {
    display: flex;
    column-gap: 1rem;
}

.dateInput::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
}

.qmInputBox {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.qmIcon {
    font-size: 1.8em;
    color: #b4b4b4;
}

.rangeInput {
    -webkit-appearance: none;
    height: 10px;
    margin-right: 10px;
    border-radius: 6px;
    outline: 0;
    background: #b4b4b4;
    color: #0058A3
}

.hideMainForm {
    display: none;
}

.rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    background: #0058A3;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.qmText {
    color: #757575;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.formBTN {
    background-color: #FBD914;
    color: #0057a3;
    border: none;
    outline: none;
    max-width: 300px;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-radius: 5px;
    margin-top: 2rem;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.formBTN:hover {
    background-color: #fbd814c6;
    cursor: pointer;
}

.trustElementBox {
    align-self: flex-end;
    position: absolute;
    top: 760px;
    margin-right: 42rem;
    display: flex;
    column-gap: 2rem;
    font-size: 1.1em;
}

.checkIcon {
    color: #0058A3;
}

.backgroundMainForm {
    position: fixed;
    background-color: #b4b4b4ad;
    top: 0;
    min-height: 100vh;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.navigationBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: top;
    color: #0057a3;
}

.closeBTNPopup {
    font-size: 2em;
    color: #0057a3;
    align-self: flex-end;
    cursor: pointer;
}

.stepBackNone {
    color: transparent
}

.stepBack {
    font-size: 1.5em;
    cursor: pointer;
}

.mainForm {
    width: 60vw;
    background-color: white;
    border: 1px solid #0058A3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    max-height: 80vh;
    overflow-y: auto;
}

.categoryStepWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.boxesWrapper {
    display: flex;
    column-gap: 2rem;
    margin-top: 1rem;
    justify-content: center;
}

.appointment,
.videoUpload {
    width: 40%;
    border: 1px solid #0058A3;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.2em;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appointment:hover,
.videoUpload:hover {
    background-color: #dcedf8;
    cursor: pointer;
}

.iconCalculationCategory {
    font-size: 2em;
    color: #0058A3;
}

.infoBox {
    margin-top: 2rem;
    align-self: center;
    display: flex;
    justify-self: flex-end;
}

.infoIcon {
    font-size: 1.5em;
    cursor: pointer;
    color: #0058A3
}

.hint {
    display: none;
    font-size: 0.8em;
    position: absolute;
    margin-left: 2rem;
    margin-top: -0.1rem;
    background-color: white;
    padding: 0.2rem;
    z-index: 2;
}

.infoIcon:hover~.hint {
    display: flex;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 3;
}

.infoIcon:hover .tooltiptext {
    visibility: visible;
}

.infoSlider {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    padding: 2rem;
    bottom: 0;
    z-index: 25;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    animation: slideIn 0.5s forwards ease-in-out;
}

.closeBTNInfoSlider {
    align-self: flex-end;
    font-size: 2.5em;
    color: #0057a3;
    cursor: pointer;
    position: fixed;
    margin-bottom: 2rem;
}

.spacer {
    margin-top: 2rem;
    height: 1px;
    width: 30%;
    margin-bottom: 2rem
}

.sliderHeadline {
    font-size: 1.2em;
}

.sliderHeadlineTop {
    font-size: 1.2em;
    margin-top: 4rem;
}

.infoSliderList {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    line-height: 2rem;
}

.numberListIcon {
    border: 1px solid #0058A3;
    border-radius: 100%;
    color: #0057a3;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    margin-right: 1rem;
}

.stepTwoAppointment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.contactHeadline {
    text-align: center;
    margin-bottom: 0rem;
    font-weight: 500;
    font-size: 1em;
}

.contactHeadlineProperty {
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 3rem;
    font-weight: 500;
    font-size: 1em;
}

.contactFormRow {
    display: flex;
    column-gap: 2rem;
    width: 100%;
}

.formGroupContact {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.inputContact {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0 0 1px #525252;
    outline: none;
    font-size: 1em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.whatsAppHint {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    background-color: #4cca5b46;
    padding: 0.2rem;
    border-radius: 5px;
}

.finalFormBTNAppointment {
    background-color: #FBD914;
    align-self: center;
    color: #0057a3;
    border: none;
    outline: none;
    padding: 0.7rem 2.5rem 0.7rem 2.5rem;
    border-radius: 5px;
    margin-top: 2rem;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.finalFormBTNAppointment:hover {
    background-color: #fbd814bf;
    cursor: pointer;
}

.hideStep {
    display: none;
}

.errorMessage {
    padding: 0.5rem;
    border: rgb(253, 129, 129) solid 1px;
    border-radius: 5px;
    text-align: center;
}

.stepTracker {
    text-align: center;
}

.stepTwoVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.videoHeadline {
    font-size: 1.2em;
    margin-bottom: 0;
}

.uploadFormGroup {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.uploadedVideoBox {
    padding: 1rem;
    box-shadow: gray 0 0 2px;
    min-width: 40vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    row-gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    max-height: 30vh;
    overflow-y: scroll;
}

.customFileBTN {
    background-color: #F5F5F5;
    color: #0057a3;
    border: #0057a3 solid 1px;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
}

.customFileBTN:hover {
    background-color: #FBD914;
}

.inputFile {
    display: none;
}

.whatsAppText {
    margin-top: 2rem;
    cursor: pointer;
}

.whatsAppIcon {
    color: #4CCA5A;
}

.videoBoxP {
    text-align: center;
    margin: 0;
    text-decoration: underline;
}

.videoName {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.checkIconVideo {
    color: green;
    font-size: 2em
}

.trashIcon {
    color: rgb(253, 129, 129);
}

.forwardBTNVideoUpload {
    background-color: #FBD914;
    align-self: center;
    color: #0057a3;
    border: none;
    outline: none;
    padding: 0.7rem 2.5rem 0.7rem 2.5rem;
    border-radius: 5px;
    margin-top: 2rem;
    font-size: 1em;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.forwardBTNVideoUpload:hover {
    background-color: #fbd814b6;
    cursor: pointer;
}

.videoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding: 1rem;
    text-align: center;
}

.editVideo {
    color: #0057a3;
    font-size: 1em;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    cursor: pointer;
}

.loadingSpinner {
    width: 100px;
    height: 100px;
    border: 20px solid #f3f3f3;
    border-top: 20px solid #0057a3;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.spinnerContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.884);
    z-index: 25;
}

.introductionSection {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    background-color: #F5FAFD;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.introductionWrapper {
    display: flex;
    width: 80vw;
    justify-content: center;
    column-gap: 3rem;
    align-items: center;
}

.introductionImage {
    width: 60%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.introductionSectionHeadline {
    margin: 0;
    font-size: 2.2em;
}

.introductionSectionSubheadline {
    color: #0057a3;
    font-size: 1.5em;
    margin-bottom: 0.2rem;
    font-weight: 600;
}

.howSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 5rem;
}

.howSectionSubheadline {
    font-size: 1.5em;
    color: #0057a3;
    font-style: italic;
    font-weight: 600;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, #fbd81480 45%, #fbd8149c 100%);
    border-radius: 5px;
}

.howSectionHeadline {
    margin: 0;
    font-size: 2em;
}

.workFlowWrapper {
    display: flex;
    column-gap: 5rem;
    width: 70vw;
    margin-top: 3rem;
}

.stepBox {
    box-shadow: 0 0 5px #959595;
    padding: 2rem;
    border-radius: 5px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stepIcon {
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    background-color: #0057a3;
    border-radius: 100%;
    align-self: flex-end;
    margin-right: -3rem;
    margin-top: -3rem;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    font-style: italic;
}

.imagedskSection {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 5rem 0 5rem 0;
}

.imageDSK {
    width: 80vw;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px #b4b4b4;
}

.advantageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 5rem;
}

.advantageSectionSubheadline {
    color: #0057a3;
    font-size: 1em;
}

.advantageSectionHeadline {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
}

.advantageBoxWrapper {
    margin-top: 2rem;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
}

.advantage {
    background-color: #F5FAFD;
    width: 15vw;
    padding: 2rem;
    height: 200px;
    border: 1px solid #0057a3;
    border-radius: 5px;
    box-shadow: 0 0 4px #cecece;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 1.5em;
}

.callToActionSection {
    background-color: #0057a3;
    padding: 3rem 0.5rem 3rem 0.5rem;
    margin: 5rem 0 5rem 0;
    display: flex;
    justify-content: center;
}

.ctaBTN {
    background-color: #FBD914;
    font-size: 1.5em;
    outline: none;
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
    color: #0058A3;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.ctaBTN:hover {
    background-color: #fbd814d7;
    cursor: pointer;
}

.faqSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.faqBox {
    display: flex;
    justify-content: center;
    width: 80vw;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3rem;
}

.questionBox {
    width: 40%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dbdbdb;
}

.question {
    border-left: #0057a3 solid 3px;
    padding-left: 1rem;
}

.headlineFAQ {
    font-size: 2em;
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}


@media screen and (max-width: 1500px) {
    .form {
        width: 35vw;
    }

    .headline {
        font-size: 2.5rem;
    }

    .subheadline {
        font-size: 1.8em;
    }

    .trustElementBox {
        margin-right: 32rem;
    }

    .headerContent {
        margin-right: 2rem;
    }

    .workFlowWrapper {
        width: 90vw;
        column-gap: 2rem;
        padding: 0;
    }

    .introductionWrapper {
        width: 95vw;
    }

    .advantageBoxWrapper {
        width: 90vw;
    }

    .advantage {
        width: 28vw;
    }
}

@media screen and (max-width: 1300px) {

    .aboveTheFold {
        max-height: 400px;
    }

    .form {
        margin-top: 5rem;
        min-width: 23rem;
        width: 35vw;
    }

    .headline {
        font-size: 2em;
    }

    .mainForm {
        width: 95vw;
    }

    .introductionSectionHeadline {
        font-size: 2em;
    }

}

@media screen and (max-width: 1000px) {

    .inputWrapper {
        display: flex;
        column-gap: 1rem;
        width: 100%;
    }

    .formGroup {
        width: 100%;
    }

    .form {
        width: 95vw;
        margin-top: 15rem;
        align-self: center;
    }

    .qmInputBox {
        margin-top: 0;
    }

    .formGroupQM {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
    }

    .formBTN {
        align-self: center;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .qmLabel {
        text-align: center;
    }

    .headerContent {
        margin-right: 0;
    }

    .aboveTheFold {
        max-height: 300px;
    }

    .headline {
        margin-top: 18rem;
        text-align: center;
    }

    .headlineBox {
        margin-left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .introductionWrapper {
        width: 95vw;
        flex-direction: column;
        justify-content: center;
    }

    .introductionSection {
        margin-bottom: 5rem;
    }

    .introductionSectionContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .introductionImage {
        width: 80%;
    }

    .introductionSectionHeadline {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}


@media screen and (max-width: 800px) {

    .aboveTheFold {
        margin-bottom: 5rem;
    }

    .boxesWrapper {
        font-size: 0.8em;
    }

    .workFlowWrapper {
        flex-direction: column;
        row-gap: 3rem;
    }

    .backgroundMainForm {
        background-color: white;
        align-items: flex-start;
        padding-top: 2rem;
    }

    .howSectionHeadline {
        text-align: center;
        margin-bottom: 1rem;
    }

    .stepBox {
        width: 95%;
    }

    .advantage {
        width: 40vw;
    }

    .advantageSectionHeadline,
    .advantageSectionSubheadline {
        text-align: center;
    }

    .faqBox {
        width: 95vw;
        column-gap: 2rem;
    }

    .inputWrapper {
        flex-direction: column;
    }



}


@media screen and (max-width: 502px) {
    .qmLabel {
        display: none;
    }

    .qmInputBox {
        font-size: 0.8em;
        flex-wrap: wrap;
        justify-content: center;
    }

    .aboveTheFold {
        max-height: 200px;
    }

    .form {
        margin-top: 8rem;
        min-width: 95vw;
    }

    .headline {
        margin-top: 15rem;
        text-align: center;
    }

    .contactFormRow {
        flex-direction: column;
    }

    .boxesWrapper {
        flex-direction: column;
        row-gap: 1rem;
    }

    .appointment,
    .videoUpload {
        width: 100%;
    }

    .videoBox {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        text-align: center;
    }

    .infoSlider {
        text-align: center;
    }

    .advantage {
        width: 90vw;
        justify-content: center;
        row-gap: 1rem;
    }

    .questionBox {
        width: 95%;
    }

    .headline,
    .introductionSectionHeadline,
    .howSectionHeadline,
    .headlineFAQ {
        font-size: 1.8em;
        text-align: center;
    }

    .subHeadline,
    .introductionSectionSubheadline,
    .howSectionSubheadline {
        font-size: 1.1em;
    }

    .ctaBTN {
        font-size: 1em;
    }

}

@media screen and (max-width: 330px) {

    .aboveTheFold {
        max-height: 120px;
        margin-bottom: 0rem;
    }

    .form {
        margin-top: 4rem;
    }

    .formBTN {
        font-size: 0.8em;
    }

    .headline {
        font-size: 1.7em;
        margin-top: 23rem;
    }

    .mainForm {
        padding: 0.5rem;
    }

    .stepTwoAppointment {
        padding: 0;
    }

    .imageDSK {
        width: 95vw;
    }

}