.aboveFoldSection {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem 5rem 2rem 5rem;
  align-items: center;
}

.aboveFoldRow {
  display: flex;
  column-gap: 1rem;
  width: 100%;
  max-width: 1500px;
}

.aboveFoldContent {
  align-self: flex-end;
  background-color: #FBD914;
  width: 100%;
  margin: 0;
  padding: 0.6rem;
  border-top: 3px #0058A3 solid;
  border-radius: 0 0 5px 5px;
  font-weight: 600;
  font-size: 1em;
  color: #0058A3
}

.aboveFoldContent:hover {
  background-color: #f7df58;
  cursor: pointer;
}

.aboveFoldleftQuadratTop {
  width: 55%;
  height: 30vh;
  background-image: url('../public/sozialkaufhaus-bonn-koeln-moebel-header.jpg');
  background-position: 50%;
  display: flex;
  border-radius: 5px;
}

.aboveFoldRightQuadratTop {
  border-radius: 5px;
  width: 45%;
  display: flex;
  height: 30vh;
  background-position: 80% 0%;
  background-image: url('../public/entrümpelung-sozialkaufhaus-koeln-bonn-header.jpg');
}

.aboveFoldleftQuadratBottom {
  width: 55%;
  height: 30vh;
  background-position: 40% 20%;
  background-image: url('../public/sozialkaufhaus-umzugsunternehmen-koeln-bonn.jpg');
  display: flex;
  border-radius: 5px;
}

.aboveFoldRightQuadratBottom {
  border-radius: 5px;
  width: 45%;
  background-position: 80% 90%;
  display: flex;
  height: 30vh;
  background-image: url('../public/moebelspende-koeln-bonn-header.jpg');
}

.introductionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.introductionSectionContent {
  width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.headline {
  font-size: 2.5em;
  margin-bottom: 0
}

.subheadline {
  font-style: italic;
  font-weight: bold;
  font-size: 1.8em;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, #fbd81480 45%, #fbd8149c 100%);
  color: #0058A3;
  border-radius: 5px;
  width: 30%;
}

.serviceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.products {
  display: flex;
  align-self: flex-start;
  max-width: 1500px;
}

.productsImage {
  height: 40vh;
  width: 50vw;
  object-fit: cover;
}

.imageOverlay {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 30%);
  margin-top: -25rem;
  height: 40vh;
  width: 50vw;
  z-index: 1;
}

.productsContent {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #0058A3;
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
}

.productsHeadline {
  margin-bottom: 0rem;
}

.productsBTN {
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5rem;
  margin-top: 2rem;
  width: 12rem;
}

.productsBTN:hover {
  background-color: white;
  border: 2px solid #0058A3;
  color: #0058A3;
  cursor: pointer;
}

.clearing {
  align-self: flex-end;
  display: flex;
  max-width: 1500px;
}

.clearingContent {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #0058A3;
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
}

.clearingImage {
  width: 49.2vw;
  object-fit: cover;
  height: 40vh;
  object-fit: cover;
  object-position: 10% 0%;
}


@media screen and (max-width: 1000px) {
  .aboveFoldSection {
    padding: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .aboveFoldleftQuadratTop {
    width: 50%;
  }

  .aboveFoldRightQuadratTop {
    width: 50%;
  }

  .aboveFoldleftQuadratBottom {
    width: 50%;
  }

  .aboveFoldRightQuadratBottom {
    width: 50%;
  }
}

@media screen and (max-width: 545px) {
  .aboveFoldRow {
    flex-direction: column;
    row-gap: 1rem;
  }

  .aboveFoldSection {
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .aboveFoldleftQuadratTop {
    width: 100%;
    height: 30vh;
    background-position: 50% 10%;
  }

  .aboveFoldRightQuadratTop {
    width: 100%;
    height: 30vh;
  }

  .aboveFoldleftQuadratBottom {
    width: 100%;
    height: 30vh;
    background-position: 35% 55%;
  }

  .aboveFoldRightQuadratBottom {
    width: 100%;
    height: 30vh;
    background-position: 77% 58%;
  }
}