.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}

.workOfferWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workOfferBox {
    width: 50vw;
    text-align: center;
    list-style-position: inside;
    background-color: #F5FAFD;
    border: 1px solid #0058A3;
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.headline {
    text-align: center;
}

@Media screen and (max-width: 1000px) {

    .workOfferBox {
        width: 90vw;
    }
}

@Media screen and (max-width: 500px) {

    .image {
        width: 60vw;
        height: calc(60vw/2)
    }

    .list {
        margin: 0;
        padding: 0;
    }

    .workOfferBox {
        padding: 0.5rem;        
    }
}