.aboveTheFoldSection {
    width: 100%;
    display: flex;
    padding: 5rem;
    column-gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.aboveTheFoldImage {
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px #959595;
}

.headline {
    margin-top: 0.5rem;
}

.subheadline {
    color: #0058A3;
    font-size: 1.2em;
    font-weight: 600;
    border-left: #0058A3 solid 3px;
    padding-left: 5px;
}

.aboveTheFoldText {
    font-size: 1.2em;
}

.btnAboveTheFold {
    background-color: #FBD914;
    border-radius: 5px;
    padding: 1rem 2rem 1rem 2rem;
    color: #0058A3;
    border: none;
    outline: none;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 2rem;
}

.btnAboveTheFold:hover {
    background-color: #fbd814ac;
    cursor: pointer;
}

.introductionSection {
    background-color: #0058A3;
    transform: skewY(-3deg);
    padding: 5rem 1rem 10rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.introductionSectionContent {
    transform: skewY(3deg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stepWrapper {
    display: flex;
    column-gap: 3rem;
    margin-top: 2rem;
}


.stepBox {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 5px;
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.stepIcon {
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    background-color: white;
    border-radius: 100%;
    align-self: flex-end;
    margin-right: -3rem;
    margin-top: -3rem;
    color: #0058A3;
    font-weight: 600;
    font-size: 1.2em;
    font-style: italic;
}

.contactSection {
    display: flex;
    justify-content: center;

}

.contactContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    background-color: #F5FAFD;
    padding: 2rem;
    box-shadow: 0 0 4px rgb(59, 59, 59);
    border-radius: 5px;
}

.contactWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding-top: 1rem;
}

.contactBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
}

.contactText {
    display: flex;
    column-gap: 0.5rem;
}

.contactIconWhatsApp {
    color: #4CCA5A;
    font-size: 2em;
    margin: 0;
}

.contactIconWebsite {
    color: #0058A3;
    font-size: 2em;
    margin: 0;
}

.contactIconEmail {
    color: #f7df58;
    font-size: 2em;
    margin: 0;
}

.socialSection {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
}

.socialSectionContent {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    align-items: center;
}

.socialSectionText {
    width: 50%;
}

.socialSectionImages {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    column-gap: 5px;
    row-gap: 5px;
}

.socialSectionImage {
    border-radius: 5px;
}

.socialSectionHeadline {
    margin-top: 0;
}

.callToActionSection {
    background-color: #0057a3;
    padding: 3rem 0.5rem 3rem 0.5rem;
    margin: 5rem 0 5rem 0;
    display: flex;
    justify-content: center;
}

.ctaBTN {
    background-color: #FBD914;
    font-size: 1.5em;
    outline: none;
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
    color: #0058A3;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.ctaBTN:hover {
    background-color: #fbd814d7;
    cursor: pointer;
}

.faqSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.faqBox {
    display: flex;
    justify-content: center;
    width: 80vw;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3rem;
}

.questionBox {
    width: 40%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dbdbdb;
}

.question {
    border-left: #0057a3 solid 3px;
    padding-left: 1rem;
}

.headlineFAQ {
    font-size: 2em;
}

.formBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background-color: #b4b4b4ad;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.form {
    background-color: white;
    padding: 3rem;
    width: 70vw;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #0057a3;
    max-height: 80vh;
    overflow-y: auto;
}

.hideForm {
    display: none;
}

.navigationBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #0057a3;
}

.stepBackNone {
    color: transparent
}

.stepBack {
    font-size: 1.5em;
    cursor: pointer;
}

.closeBTNPopup {
    font-size: 2em;
    color: #0057a3;
    align-self: flex-end;
    cursor: pointer;
}

.stepTracker {
    text-align: center;
}

.videoHeadline {
    font-size: 1.2em;
    margin-bottom: 0;
}

.uploadFormGroup {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.customFileBTN {
    background-color: white;
    color: #0057a3;
    border: #0057a3 solid 1px;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.customFileBTN:hover {
    background-color: #FBD914;
    cursor: pointer;
}

.inputFile {
    display: none;
}

.whatsAppText {
    margin-top: 2rem;
    cursor: pointer;
}

.whatsAppIcon {
    color: #4CCA5A;
}

.uploadedImageBox {
    padding: 1rem;
    box-shadow: gray 0 0 2px;
    min-width: 40vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    row-gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    max-height: 30vh;
    overflow-y: scroll;
}

.imageBoxP {
    text-align: center;
    margin: 0;
    text-decoration: underline;
}

.imageName {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.checkIconImage {
    color: green;
    font-size: 2em
}

.trashIcon {
    color: rgb(253, 129, 129);
}

.trashIcon:hover {
    cursor: pointer;
}

.forwardBTNImageUpload {
    background-color: #FBD914;
    align-self: center;
    color: #0057a3;
    border: none;
    outline: none;
    padding: 0.7rem 2.5rem 0.7rem 2.5rem;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 2rem;
    font-size: 1em;
    margin-bottom: 0.5rem;
}

.forwardBTNImageUpload:hover {
    background-color: #fbd814af;
    cursor: pointer;
}

.fileupload {
    display: block;
    text-align: center;
}

.hideFileupload {
    display: none;
}

.contactInformation {
    display: block;
    width: 100%;
}

.hideContactInformation {
    display: none;
}

.contactHeadline {
    text-align: center;
    margin-bottom: 0rem;
    font-weight: 500;
    font-size: 1em;
}

.formGroupContact {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.label {
    margin-bottom: 0.5rem;
}

.adressInputWrapper {
    display: flex;
    column-gap: 1rem;
    width: 100%;
}

.inputContact {
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0 0 1px #525252;
    outline: none;
    font-size: 1em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.inputAdressStreet {
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0 0 1px #525252;
    outline: none;
    font-size: 1em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 70%;
}

.inputAdressPLZ {
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0 0 1px #525252;
    outline: none;
    font-size: 1em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 30%
}


.textarea {
    height: 30px;
    font-size: 1em;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(196, 196, 196);
    outline: none;
    margin-top: 0.5rem;
    max-height: 200px;
    height: 50px;
    resize: none;
}

.inputContact:focus,
.inputAdressPLZ:focus,
.inputAdressStreet:focus {
    background-color: #0057a30e;
}

.contactFormRow {
    display: flex;
    column-gap: 2rem;
    width: 100%;
}

.contactHeadlineProperty {
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 3rem;
    font-weight: 500;
    font-size: 1em;
}

.imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding: 1rem;
    text-align: center;
}

.editImage {
    color: #0057a3;
    font-size: 1em;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    cursor: pointer;
}

.finalbtnDiv {
    display: flex;
    justify-content: center;
}

.finalFormBTNAppointment {
    background-color: #FBD914;
    align-self: center;
    color: #0057a3;
    border: none;
    outline: none;
    padding: 0.7rem 2.5rem 0.7rem 2.5rem;
    border-radius: 5px;
    margin-top: 2rem;
    font-size: 1em;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.finalFormBTNAppointment:hover {
    background-color: #fbd8149f;
    cursor: pointer;
}

.errorMessage {
    text-align: center;
    color: rgb(246, 125, 125);
}

.scrollCTAButton {
    position: fixed;
    top: 0.75rem;
    right: 1rem;
    background-color: #FBD914;
    outline: none;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    color: #0058A3;
    font-size: 1.1em;
    padding: 0.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    z-index: 4;
}

.scrollCTAButton:hover {
    cursor: pointer;
    background-color: #fee555;
}

.loadingSpinner {
    width: 100px;
    height: 100px;
    border: 20px solid #f3f3f3;
    border-top: 20px solid #0057a3;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.spinnerContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.884);
    z-index: 25;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@Media screen and (max-width: 1200px) {
    .aboveTheFoldSection {
        width: 100%;
        display: flex;
        padding: 5rem 2rem 5rem 2rem;
        column-gap: 3rem;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }

    .headline {
        font-size: 2em;
    }

    .contactContent {
        width: 95vw;
        padding: 1rem;
        text-align: center;
    }

    .form {
        width: 90vw;
        padding: 1rem;
    }
}

@Media screen and (max-width: 1000px) {
    .aboveTheFoldImage {
        height: 180px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0 0 5px #959595;
    }

    .contactWrapper {
        column-gap: 0.5rem;
    }

    .contactBox {
        flex-direction: column;
    }

    .contactText {
        flex-direction: column;
        row-gap: 0;
        column-gap: 0;
    }

    .contactP {
        margin: 0;
    }

    .socialSectionImages {
        justify-content: flex-end;
        width: 200px;
    }
}

@Media screen and (max-width: 800px) {
    .aboveTheFoldSection {
        flex-direction: column-reverse;
        padding: 1rem;
    }

    .formBackground {
        background-color: white;
        align-items: flex-start;
        padding-top: 2rem;
    }

    .aboveTheFoldImage {
        width: 95vw;
        height: 220px;
    }

    .aboveTheFoldContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }

    .faqBox {
        width: 95vw;
        column-gap: 2rem;
    }

    .questionBox {
        width: 95%;
    }
}

@Media screen and (max-width: 700px) {
    .stepWrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;
    }

    .contactFormRow {
        flex-direction: column;
        padding: 1rem;
    }

    .inputContact {
        width: 100%;
    }

    .stepBox {
        width: 80%;
        text-align: center;
    }

    .socialSectionHeadline {
        font-size: 1.8em;
    }


    .imageBox {
        flex-direction: column;
        column-gap: 0.5rem;
    }

    .editImage {
        margin-top: 1rem;
    }

    .inputAdressStreet {
        width: 55%;
    }

    .inputAdressPLZ {
        width: 45%
    }
}

@Media screen and (max-width: 500px) {

    .btnAboveTheFold {
        font-size: 1.2em;
    }

    .stepWrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;

    }

    .stepBox {
        width: 80%;
        text-align: center;
    }

    .contactWrapper {
        flex-direction: column;
    }

    .socialSectionContent {
        flex-direction: column-reverse;
    }

    .socialSectionImages {
        width: 100%;
        justify-content: center;
    }

    .socialSectionImage {
        width: 42vw;
        height: auto;
        object-fit: cover;
    }

    .socialSectionText {
        width: 100%;
        margin-top: 1rem;
    }

    .ctaBTN {
        font-size: 1em;
    }

    .headlineFAQ {
        text-align: center;
    }

    .uploadedImageBox {
        min-width: 80vw;
        max-width: 90vw;
    }

    .adressInputWrapper {
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .inputAdressPLZ,
    .inputAdressStreet {
        width: 100%;
    }

}

@media screen and (max-width: 300px) {
    .customFileBTN {
        font-size: 1.3em;
    }
}