.aboveTheFoldSection {
    padding: 0 2rem 0 2rem;
}

.rowProducts {
    display: flex;
    column-gap: 1rem;
    margin: 1rem 0 1rem 0;
    width: 100%;
    justify-content: center;
}

.productFurniture {
    background-image: url('../public/gebraucht-moebel-sozialkaufhaus.jpg');
    background-size: cover;
    width: 350px;
    max-height: 250px;
    height: calc(100vw / 3);
    display: flex;
    border-radius: 5px;
}

.productArticles {
    background-image: url('../public/sozialkaufhaus-gebraucht-moebel-haushaltswaren.jpg');
    background-size: cover;
    width: 350px;
    max-height: 250px;
    height: calc(100vw / 3);
    display: flex;
    border-radius: 5px;
}

.productClothes {
    background-image: url('../public/gebraucht-moebel-kleidung-sozialkaufhaus.jpg');
    background-size: cover;
    width: 350px;
    max-height: 250px;
    height: calc(100vw / 3);
    display: flex;
    border-radius: 5px;
}

.productEletricity {
    background-image: url('../public/gebraucht-moebel-egeräte-sozialkaufhaus.jpg');
    background-size: cover;
    width: 350px;
    max-height: 250px;
    height: calc(100vw / 3);
    display: flex;
    border-radius: 5px;
}

.productLamps {
    background-image: url('../public/gebraucht-möbel-lampen-sozialkaufhaus.jpg');
    background-size: cover;
    width: 350px;
    max-height: 250px;
    height: calc(100vw / 3);
    display: flex;
    border-radius: 5px;
}

.productSpecials {
    background-image: url('../public/gebraucht-moebel-besonderes-sozialkaufhaus.jpg');
    background-size: cover;
    width: 350px;
    max-height: 250px;
    height: calc(100vw / 3);
    display: flex;
    border-radius: 5px;
}

.productsText {
    align-self: flex-end;
    background-color: #FBD914;
    padding: 0.5rem;
    color: #0058A3;
    width: 100%;
    margin: 0;
    border-radius: 0 0 4px 4px;
    word-break: break-all;
}

.introductionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem 0 5rem;
    text-align: center;
}

.subheadline {
    font-style: italic;
    font-weight: bold;
    font-size: 1.8em;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, #fbd81480 45%, #fbd8149c 100%);
    color: #0058A3;
    border-radius: 5px;
    max-width: 30rem;
    margin-top: 0;
}

.ebaySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0058A3;
    padding: 5rem;
    margin: 5rem 0 5rem 0;
    color: whitesmoke;
}

.ebayHeadline {
    margin: 0;
}

.ebayBTN {
    background-color: #FBD914;
    font-size: 1.5em;
    outline: none;
    border: none;
    width: 20rem;
    padding: 0.7rem 0 0.7rem 0;
    border-radius: 5px;
    color: #0058A3;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.ebayBTN:hover {
    background-color: #f8e36c;
    cursor: pointer;
}

.discountSection {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    margin-bottom: 5rem;
    align-items: center;
    padding: 2rem;
}

.deliverySection {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    margin-bottom: 5rem;
    align-items: center;
    padding: 2rem;
}

.discountImage {
    object-fit: cover;
    height: auto;
    max-height: 300px;
    width: 40vw;
    border-radius: 5px;
}

.discountText {
    font-size: 2em;
    text-align: center;
    max-width: 40vw;
}

.percentText {
    font-weight: 700;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, #fbd81480 45%, #fbd8149c 100%);
    color: #0058A3;
    border-radius: 5px
}

.faqSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem 5rem 2rem;
    text-align: center;

}

.questionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    text-align: center;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 2rem;
}

.question {
    margin-bottom: 0.2rem;
    color: #0058A3
}

@media screen and (max-width: 1000px) {
    .discountText {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 500px) {
    .productsText {
        font-size: 0.7em;
    }

    .aboveTheFoldSection {
        padding: 0.5rem;
    }

    .rowProducts {
        column-gap: 0.5rem;
    }

    .introductionSection {
        padding: 1rem;
    }

    .subheadline {
        font-size: 1.3em;
    }

    .ebaySection {
        margin: 3rem 0 3rem 0;
        padding: 3rem 1rem 3rem 1rem;
        text-align: center;
    }


    .ebayBTN {
        width: 80vw;
        font-size: 1em;
    }

    .discountSection {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .deliverySection {
        flex-direction: column;
        margin-bottom: 0;
    }

    .discountImage {
        width: 80vw;
    }

    .discountText {
        max-width: 80vw;
    }

    .faqSection, .questionBox {
        padding: 1rem;
    }

}